@import '~office-ui-fabric-react/dist/sass/_References.scss';

.scoringPanel {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    color: #333;
    background-color: $ms-color-themeLight;
    padding: 10px 20px;
  }

  .row_message {
    @include ms-Grid-row;
  }

  .text_labels {
    font-size: 1.1em
  }

}
